{% load static %}
<html>
    <head>
        <title>Практика</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>

<div id="header" class="page-header">
	<div id='logo'>
		<h1>Django</h1>
    </div>
	<div id="menu">
		<ul>
			<li><a href="/">Homepage</a></li>
			<li><a href="#">About</a></li>
			<li><a href="contact/">Contact</a></li>
            <li><a href='admin/'>Админка</a></li>
             {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
            {% else %}
            <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
            {% endif %} 
		</ul>
	</div>

</div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>